#entrance-page {
  position: relative;
  height: 100%;
}

#entrance-page .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: -1;
}

#entrance-page .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#entrance-page .main-block {
  height: 100%;
  width: 100%;
}

#entrance-page .main-block #login-side {
  max-width: 400px;
  width: 400px;
}

#entrance-page .main-block #signup-side {
  max-width: 400px;
  width: 400px;
}

#entrance-page .main-block .entrance-container {
  padding: 20px;
  box-sizing: border-box;
}

#entrance-page .main-block .entrance-container .entrance-form {
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
  border-radius: 2px;
}

#entrance-page .main-block .entrance-container .entrance-form .heading {
  color: #FFBA19;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}

#entrance-page .main-block .entrance-container .entrance-form form .inputs-container {
  margin: 20px 0 20px 0;
}

#entrance-page .main-block .entrance-container .entrance-form form input {
  border: none;
  padding: 10px 0;
  background: transparent;
  color: white;
  margin-bottom: 5px;
  box-sizing: border-box;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
  font-size: 16px;
}

#entrance-page .main-block .entrance-container .entrance-form form input::-webkit-input-placeholder {
  color: #cccccc;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

#entrance-page .main-block .entrance-container .entrance-form form input:-ms-input-placeholder {
  color: #cccccc;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

#entrance-page .main-block .entrance-container .entrance-form form input::placeholder {
  color: #cccccc;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="email"]:focus, #entrance-page .main-block .entrance-container .entrance-form form input[type="text"]:focus, #entrance-page .main-block .entrance-container .entrance-form form input[type="password"]:focus {
  padding: 10px 20px;
  color: black;
  outline: none;
  background: #e6e6e6;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="email"]:focus::-webkit-input-placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="text"]:focus::-webkit-input-placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="password"]:focus::-webkit-input-placeholder {
  color: black;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="email"]:focus:-ms-input-placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="text"]:focus:-ms-input-placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="password"]:focus:-ms-input-placeholder {
  color: black;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="email"]:focus::placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="text"]:focus::placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="password"]:focus::placeholder {
  color: black;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="submit"] {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="submit"]:hover {
  background: black;
}

#entrance-page .main-block .entrance-container .entrance-form .change-entrance {
  color: #bfbfbf;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

#entrance-page .main-block .entrance-container .entrance-form .change-entrance .flip-entrance-card {
  cursor: pointer;
  color: white;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#entrance-page .main-block .entrance-container .entrance-form .change-entrance .flip-entrance-card:hover {
  color: #FFBA19;
  border-bottom: 1px solid #FFBA19;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

nav ul {
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
  text-decoration: none;
}

input, select {
  vertical-align: middle;
}

.flexbox {
  display: -webkit-box;
  display: flex;
}

.flexbox.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.flexbox.flex-center {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

#header {
  z-index: 22;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0 40px;
  background: #6a1b9a;
  box-shadow: 0px -2px 3px 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  #header {
    padding: 0 20px;
    box-shadow: none;
  }
}

#header .logo {
  line-height: 50px;
  height: 50px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#header .logo .image-container {
  height: 25px;
  width: 160px;
  font-size: 0;
}

#header .logo .image-container img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 400px) {
  #header .links {
    display: none;
  }
}

#header .links .link {
  line-height: 50px;
  height: 50px;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#header .links .link:hover {
  background: #55167c;
}

#header .mobile-menu {
  display: none;
  position: relative;
  width: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 400px) {
  #header .mobile-menu {
    display: -webkit-box;
    display: flex;
  }
}

#header .mobile-menu .burger {
  color: white;
}

#header .mobile-menu .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

#header .mobile-menu .dropdown .mob-links {
  background: white;
  border-radius: 1px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

#header .mobile-menu .dropdown .mob-links .mob-link {
  font-size: 18px;
  box-sizing: border-box;
  padding: 15px 30px;
  color: black;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#header .mobile-menu .dropdown .mob-links .mob-link:hover {
  color: #FFBA19;
}

main {
  margin-top: 50px;
  width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

#footer.nofix {
  position: static;
}

#footer .autor-info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 10px;
}

#footer .autor-info .autor {
  padding: 10px 0;
  padding-right: 10px;
}

#footer .autor-info .social-links {
  padding: 10px 0;
}

#footer .autor-info .social-links a {
  color: white;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  padding: 0 5px 0 0;
}

#footer .autor-info .social-links a:hover {
  color: #FFBA19;
}

#home-page {
  position: relative;
  height: 100%;
}

#home-page .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: -1;
}

#home-page .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#home-page .main-block {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  height: 100%;
}

#home-page .main-block .slogan-container {
  padding: 20px;
  text-align: center;
}

#home-page .main-block .slogan-container .slogan {
  color: #ffb200;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 380px) {
  #home-page .main-block .slogan-container .slogan {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  #home-page .main-block .choose-type-container {
    padding: 0 20px;
  }
}

#home-page .main-block .choose-type-container .chose-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
}

#home-page .main-block .choose-type-container .chose-type .type-container {
  margin: 0 5px 5px;
}

@media screen and (max-width: 500px) {
  #home-page .main-block .choose-type-container .chose-type .type-container {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 380px) {
  #home-page .main-block .choose-type-container .chose-type .type-container {
    width: 100%;
  }
}

#home-page .main-block .choose-type-container .chose-type .type-container a {
  color: white;
}

#home-page .main-block .choose-type-container .chose-type .type-container .type {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  color: white;
  padding: 20px;
  text-align: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#home-page .main-block .choose-type-container .chose-type .type-container .type:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #FFBA19;
}

@media screen and (max-width: 600px) {
  #list-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
  }
}

#list-page .filters-block {
  min-width: 300px;
  width: 25%;
  overflow-y: auto;
  max-height: calc(100vh - 50px);
}

@media screen and (max-width: 600px) {
  #list-page .filters-block {
    width: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 21;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
    min-width: 0;
  }
}

#list-page .filters-block .toggle-filters-btn {
  height: 40px;
  line-height: 20px;
  display: none;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: black;
  background: white;
}

@media screen and (max-width: 600px) {
  #list-page .filters-block .toggle-filters-btn {
    display: block;
  }
}

#list-page .filters-block .filters-container {
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  background: white;
}

@media screen and (max-width: 600px) {
  #list-page .filters-block .filters-container {
    display: none;
    min-height: calc(100vh - 50px - 40px);
  }
}

#list-page .filters-block .filters-container .filters-content {
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

#list-page .filters-block .filters-container .filters-content #apply-btn {
  text-align: center;
  text-transform: uppercase;
  width: 250px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px 0;
  background: #FFBA19;
}

@media screen and (max-width: 350px) {
  #list-page .filters-block .filters-container .filters-content #apply-btn {
    width: 100%;
  }
}

#list-page .filters-block .filters-container .filters-content #apply-btn:hover {
  background: #32064D;
  color: white;
}

#list-page .cards-map-container {
  width: 75%;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  #list-page .cards-map-container {
    width: 100%;
    max-height: calc(100vh - 50px - 40px);
    margin-top: 40px;
  }
}

#list-page .cards-map-container .cards {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  padding: 10px;
}

.card-container {
  padding: 5px;
  box-sizing: border-box;
  width: 20%;
}

@media screen and (max-width: 1600px) {
  .card-container {
    width: 25%;
  }
}

@media screen and (max-width: 1300px) {
  .card-container {
    width: 33.3333333333%;
  }
}

@media screen and (max-width: 1000px) {
  .card-container {
    width: 50%;
  }
}

@media screen and (max-width: 740px) {
  .card-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .card-container {
    width: 100%;
  }
}

.card {
  height: 100%;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card:hover {
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.4);
}

.card .card-img {
  line-height: 0;
}

.card .card-img img {
  border-radius: 2px 2px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card .card-content {
  padding: 10px;
}

.card .card-content .card-title {
  font-size: 20px;
  padding: 5px 0;
}

.card .card-content .card-title a {
  color: black;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card .card-content .card-title a:hover {
  color: #e5a000;
}

.card .card-content .card-top-plate {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.card .card-content .card-description {
  padding-top: 5px;
}

#place-page section {
  margin-bottom: 20px;
}

#place-page .row {
  max-width: 1200px;
  margin: 0 auto;
}

#place-page #map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#place-page .text-with-img {
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
}

#place-page .text-with-img .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#place-page .text-with-img .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#place-page .text-with-img .text-wrapper {
  background: -webkit-linear-gradient(bottom, black, transparent);
  background: linear-gradient(to top, black, transparent);
  width: 100%;
  padding-top: 80px;
}

#place-page .text-with-img .text-wrapper .text-container {
  margin: 0 auto;
  color: white;
  font-weight: 900;
  max-width: 1200px;
}

#place-page .text-with-img .text-wrapper .text-container .place-name {
  font-size: 30px;
  margin-bottom: 10px;
}

#place-page .text-with-img .text-wrapper .text-container .place-price {
  margin-bottom: 5px;
}

#place-page .text-with-img .text-wrapper .text-container .place-rating {
  margin-bottom: 15px;
}

#place-page .place-info-container {
  display: -webkit-box;
  display: flex;
}

#place-page .place-info-container .place-details {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
}
