html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

nav ul {
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
  text-decoration: none;
}

input, select {
  vertical-align: middle;
}

#not-found {
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: Roboto;
}

#not-found .heading {
  font-size: 120px;
  font-weight: 900;
}

#not-found .info-text {
  font-size: 26px;
  margin-bottom: 20px;
}

#not-found .home-link {
  cursor: pointer;
  font-size: 18px;
}

#not-found .home-link i {
  margin-right: 5px;
}

#not-found .home-link a {
  border-bottom: 1px solid lightgray;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  color: black;
}

#not-found .home-link a:hover {
  color: #e5a000;
}

#entrance-page {
  position: relative;
  height: 100%;
}

#entrance-page .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: -1;
}

#entrance-page .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#entrance-page .main-block {
  height: 100%;
  width: 100%;
}

#entrance-page .main-block #login-side {
  max-width: 400px;
  width: 400px;
}

#entrance-page .main-block #signup-side {
  max-width: 400px;
  width: 400px;
}

#entrance-page .main-block .entrance-container {
  padding: 20px;
  box-sizing: border-box;
}

#entrance-page .main-block .entrance-container .entrance-form {
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
  border-radius: 2px;
}

#entrance-page .main-block .entrance-container .entrance-form .heading {
  color: #FFBA19;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}

#entrance-page .main-block .entrance-container .entrance-form form .inputs-container {
  margin: 20px 0 20px 0;
}

#entrance-page .main-block .entrance-container .entrance-form form input {
  border: none;
  padding: 10px 0;
  background: transparent;
  color: white;
  margin-bottom: 5px;
  box-sizing: border-box;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 100%;
  font-size: 16px;
}

#entrance-page .main-block .entrance-container .entrance-form form input::-webkit-input-placeholder {
  color: #cccccc;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

#entrance-page .main-block .entrance-container .entrance-form form input:-ms-input-placeholder {
  color: #cccccc;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

#entrance-page .main-block .entrance-container .entrance-form form input::placeholder {
  color: #cccccc;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="email"]:focus, #entrance-page .main-block .entrance-container .entrance-form form input[type="text"]:focus, #entrance-page .main-block .entrance-container .entrance-form form input[type="password"]:focus {
  padding: 10px 20px;
  color: black;
  outline: none;
  background: #e6e6e6;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="email"]:focus::-webkit-input-placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="text"]:focus::-webkit-input-placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="password"]:focus::-webkit-input-placeholder {
  color: black;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="email"]:focus:-ms-input-placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="text"]:focus:-ms-input-placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="password"]:focus:-ms-input-placeholder {
  color: black;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="email"]:focus::placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="text"]:focus::placeholder, #entrance-page .main-block .entrance-container .entrance-form form input[type="password"]:focus::placeholder {
  color: black;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="submit"] {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
}

#entrance-page .main-block .entrance-container .entrance-form form input[type="submit"]:hover {
  background: black;
}

#entrance-page .main-block .entrance-container .entrance-form .change-entrance {
  color: #bfbfbf;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

#entrance-page .main-block .entrance-container .entrance-form .change-entrance .flip-entrance-card {
  cursor: pointer;
  color: white;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#entrance-page .main-block .entrance-container .entrance-form .change-entrance .flip-entrance-card:hover {
  color: #FFBA19;
  border-bottom: 1px solid #FFBA19;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

nav ul {
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none;
  text-decoration: none;
}

input, select {
  vertical-align: middle;
}

.flexbox {
  display: -webkit-box;
  display: flex;
}

.flexbox.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.flexbox.flex-center {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

#header {
  z-index: 22;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0 40px;
  background: #6a1b9a;
  box-shadow: 0px -2px 3px 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  #header {
    padding: 0 20px;
    box-shadow: none;
  }
}

#header .logo {
  line-height: 48px;
  height: 48px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#header .logo .image-container {
  height: 25px;
  width: 160px;
  font-size: 0;
}

#header .logo .image-container img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 500px) {
  #header .links {
    display: none;
  }
}

#header .links i {
  color: white;
  margin-right: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

#header .links #header-search-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

#header .links #header-search-form input {
  border: none;
  border-radius: 4px;
  padding: 7px;
  box-sizing: border-box;
  outline: none;
  z-index: 2;
}

#header .links #header-search-form #search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -12px;
  background: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  box-sizing: border-box;
}

#header .links #header-search-form #search-results .search-result {
  font-size: 14px;
  background: transparent;
  cursor: pointer;
}

#header .links #header-search-form #search-results .search-result-zero {
  font-size: 14px;
  background: transparent;
  display: block;
  padding: 7px;
  color: #666666;
}

#header .links #header-search-form #search-results .search-result a {
  display: block;
  padding: 7px;
  color: black;
}

#header .links #header-search-form #search-results .search-result:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#header .links #header-search-form #search-results .search-result:first-child {
  margin-top: 4px;
}

#header .links #header-search-form #search-results .search-result:hover {
  background: lightgrey;
}

#header .links .link {
  line-height: 48px;
  height: 48px;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#header .links .link:hover {
  background: #55167c;
}

#header .mobile-menu {
  display: none;
  position: relative;
  width: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 500px) {
  #header .mobile-menu {
    display: -webkit-box;
    display: flex;
  }
}

#header .mobile-menu .burger {
  color: white;
}

#header .mobile-menu .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

#header .mobile-menu .dropdown .mob-links {
  background: white;
  border-radius: 1px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

#header .mobile-menu .dropdown .mob-links .mob-link {
  font-size: 18px;
  box-sizing: border-box;
  padding: 15px 30px;
  color: black;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#header .mobile-menu .dropdown .mob-links .mob-link:hover {
  color: #FFBA19;
}

main {
  margin-top: 48px;
  width: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

#footer.nofix {
  position: static;
}

#footer .autor-info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 10px;
}

#footer .autor-info .autor {
  padding: 10px 0;
  padding-right: 10px;
}

#footer .autor-info .social-links {
  padding: 10px 0;
}

#footer .autor-info .social-links a {
  color: white;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  padding: 0 5px 0 0;
}

#footer .autor-info .social-links a:hover {
  color: #FFBA19;
}

#edit-profile-page .section-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#edit-profile-page .section-wrapper .page-heading {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}

#edit-profile-page .section-wrapper .user-content {
  display: -webkit-box;
  display: flex;
}

@media screen and (max-width: 500px) {
  #edit-profile-page .section-wrapper .user-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
  }
  #edit-profile-page .section-wrapper .user-content .left-part, #edit-profile-page .section-wrapper .user-content .right-part {
    width: 100%;
    margin: 0;
  }
}

#edit-profile-page .section-wrapper .left-part {
  width: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
}

#edit-profile-page .section-wrapper .left-part input {
  margin-left: 10px;
  margin-bottom: 20px;
}

#edit-profile-page .section-wrapper .left-part .profile-pic {
  max-width: 300px;
  margin-bottom: 5px;
}

#edit-profile-page .section-wrapper .left-part .profile-pic img {
  width: 100%;
}

#edit-profile-page .section-wrapper .right-part {
  width: 70%;
  margin-left: 40px;
}

#edit-profile-page .section-wrapper .right-part .heading {
  font-size: 22px;
  font-weight: 900;
  margin: 20px 0;
}

#edit-profile-page .section-wrapper .right-part .heading:first-child {
  margin-top: 0;
}

#edit-profile-page .section-wrapper .right-part > div {
  display: -webkit-box;
  display: flex;
  margin-bottom: 10px;
}

#edit-profile-page .section-wrapper .right-part > div .key {
  width: 100px;
}

#edit-profile-page .section-wrapper .right-part > div input {
  width: calc(100% - 100px);
  padding: 5px 10px;
  box-sizing: border-box;
}

#edit-profile-page .section-wrapper .right-part .apply-btn-wrapper {
  padding-top: 10px;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

#edit-profile-page .section-wrapper .right-part .apply-btn-wrapper input {
  cursor: pointer;
  border: none;
  background: #FFBA19;
  max-width: 200px;
  padding: 10px;
  box-sizing: border-box;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

@media screen and (max-width: 500px) {
  #edit-profile-page .section-wrapper .right-part .apply-btn-wrapper input {
    max-width: 100%;
    width: 100%;
  }
}

#edit-profile-page .section-wrapper .right-part .apply-btn-wrapper input:hover {
  color: white;
  background: black;
}

#home-page {
  position: relative;
  height: 100%;
}

#home-page .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: -1;
}

#home-page .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#home-page .main-block {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  height: 100%;
}

#home-page .main-block .slogan-container {
  padding: 20px;
  text-align: center;
}

#home-page .main-block .slogan-container .slogan {
  color: #ffb200;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
}

@media screen and (max-width: 380px) {
  #home-page .main-block .slogan-container .slogan {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  #home-page .main-block .choose-type-container {
    padding: 0 20px;
  }
}

#home-page .main-block .choose-type-container .chose-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
}

#home-page .main-block .choose-type-container .chose-type .type-container {
  margin: 0 5px 5px;
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  #home-page .main-block .choose-type-container .chose-type .type-container {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 380px) {
  #home-page .main-block .choose-type-container .chose-type .type-container {
    width: 100%;
  }
}

#home-page .main-block .choose-type-container .chose-type .type-container a {
  color: white;
}

#home-page .main-block .choose-type-container .chose-type .type-container .type {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  color: white;
  padding: 20px;
  text-align: center;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#home-page .main-block .choose-type-container .chose-type .type-container .type:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #FFBA19;
}

@media screen and (max-width: 600px) {
  #list-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
  }
}

#list-page .filters-block {
  min-width: 300px;
  width: 25%;
  overflow-y: auto;
  max-height: calc(100vh - 48px);
}

@media screen and (max-width: 600px) {
  #list-page .filters-block {
    width: 100%;
    position: fixed;
    top: 48px;
    left: 0;
    z-index: 21;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
    min-width: 0;
  }
}

#list-page .filters-block .toggle-filters-btn {
  height: 40px;
  line-height: 20px;
  display: none;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  color: black;
  background: white;
}

@media screen and (max-width: 600px) {
  #list-page .filters-block .toggle-filters-btn {
    display: block;
  }
}

#list-page .filters-block .filters-container {
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  background: white;
}

@media screen and (max-width: 600px) {
  #list-page .filters-block .filters-container {
    display: none;
    min-height: calc(100vh - 48px - 40px);
  }
}

#list-page .filters-block .filters-container .filters-content {
  padding: 10px;
  box-sizing: border-box;
}

#list-page .filters-block .filters-container .filters-content form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

#list-page .filters-block .filters-container .filters-content .filters {
  width: 100%;
}

#list-page .filters-block .filters-container .filters-content .filters .heading {
  font-size: 24px;
  margin-bottom: 15px;
}

#list-page .filters-block .filters-container .filters-content .filters .label {
  margin-top: 10px;
  width: 100%;
  color: #4d4d4d;
}

#list-page .filters-block .filters-container .filters-content .filters .filter-inputs {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  text-transform: capitalize;
}

#list-page .filters-block .filters-container .filters-content #apply-btn {
  border: none;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px 0;
  background: #FFBA19;
}

@media screen and (max-width: 350px) {
  #list-page .filters-block .filters-container .filters-content #apply-btn {
    width: 100%;
  }
}

#list-page .filters-block .filters-container .filters-content #apply-btn:hover {
  background: #32064D;
  color: white;
}

#list-page .cards-map-container {
  width: 75%;
  max-height: calc(100vh - 48px);
  overflow-y: auto;
}

#list-page .cards-map-container .order-container {
  padding: 10px 15px 0 15px;
  box-sizing: border-box;
}

#list-page .cards-map-container .order-container .order {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px 20px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 400px) {
  #list-page .cards-map-container .order-container .order {
    padding: 10px;
  }
}

#list-page .cards-map-container .order-container .order .heading {
  font-weight: 900;
  margin-right: 15px;
  text-transform: uppercase;
}

#list-page .cards-map-container .order-container .order .orderby {
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

#list-page .cards-map-container .order-container .order .orderby i {
  margin-left: 2px;
  font-size: 12px;
}

#list-page .cards-map-container .order-container .order .orderby:hover {
  color: #e5a000;
}

@media screen and (max-width: 600px) {
  #list-page .cards-map-container {
    width: 100%;
    max-height: calc(100vh - 48px - 40px);
    margin-top: 40px;
  }
}

#list-page .cards-map-container .cards {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  padding: 10px;
}

.card-container {
  padding: 5px;
  box-sizing: border-box;
  width: 20%;
}

@media screen and (max-width: 1600px) {
  .card-container {
    width: 25%;
  }
}

@media screen and (max-width: 1300px) {
  .card-container {
    width: 33.3333333333%;
  }
}

@media screen and (max-width: 1000px) {
  .card-container {
    width: 50%;
  }
}

@media screen and (max-width: 740px) {
  .card-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .card-container {
    width: 100%;
  }
}

.card {
  height: 100%;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card:hover {
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.4);
}

.card .card-img {
  line-height: 0;
  height: 150px;
}

.card .card-img img {
  border-radius: 2px 2px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card .card-content {
  padding: 10px;
}

.card .card-content .card-title {
  font-size: 20px;
  padding: 5px 0;
}

.card .card-content .card-title a {
  color: black;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.card .card-content .card-title a:hover {
  color: #e5a000;
}

.card .card-content .card-top-plate {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.card .card-content .card-top-plate .price {
  font-size: 14px;
}

.card .card-content .card-top-plate .price .filled {
  color: #f0ca00;
}

.card .card-content .card-top-plate .price .default {
  color: #999999;
}

.card .card-content .card-description {
  padding-top: 5px;
  font-size: 14px;
}

#place-page section {
  margin-bottom: 40px;
}

#place-page .row {
  max-width: 1200px;
  margin: 0 auto;
}

#place-page #map {
  width: 100%;
  height: 500px;
  background-color: grey;
}

#place-page .text-with-img {
  position: relative;
  width: 100%;
  height: 500px;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
}

#place-page .text-with-img .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#place-page .text-with-img .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#place-page .text-with-img .text-wrapper {
  background: -webkit-linear-gradient(bottom, black, transparent);
  background: linear-gradient(to top, black, transparent);
  width: 100%;
  padding-top: 110px;
}

#place-page .text-with-img .text-wrapper .text-container {
  margin: 0 auto;
  color: white;
  font-weight: 900;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 18px;
}

#place-page .text-with-img .text-wrapper .text-container .place-name {
  font-size: 30px;
  line-height: 40px;
}

#place-page .text-with-img .text-wrapper .text-container .tags {
  margin-bottom: 5px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#place-page .text-with-img .text-wrapper .text-container .tags .tag {
  text-transform: capitalize;
  cursor: pointer;
  background: rgba(255, 186, 25, 0.65);
  color: white;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 7px;
}

#place-page .text-with-img .text-wrapper .text-container .place-price {
  margin-bottom: 5px;
}

#place-page .text-with-img .text-wrapper .text-container .place-price .filled {
  color: #FFBA19;
}

#place-page .text-with-img .text-wrapper .text-container .place-price .default {
  color: #999999;
}

#place-page .text-with-img .text-wrapper .text-container .place-rating {
  margin-bottom: 15px;
}

#place-page .text-with-img .text-wrapper .text-container .place-rating i {
  color: #FFBA19;
}

#place-page .place-info-container {
  display: -webkit-box;
  display: flex;
  width: 100%;
}

#place-page .place-info-container .place-description {
  text-align: justify;
  padding: 10px 20px;
  border-right: 1px solid #cccccc;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 20px;
}

#place-page .place-info-container .place-details {
  padding: 10px 20px;
  min-width: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

#place-page .place-info-container .place-details > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 10px;
}

#place-page .place-info-container .place-details .icon {
  width: 40px;
  text-align: center;
}

#place-page .place-info-container .place-details .website a {
  color: black;
  border-bottom: 1px solid #b3b3b3;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#place-page .place-info-container .place-details .website a:hover {
  color: #e5a000;
  border-color: #666666;
}

@media screen and (max-width: 700px) {
  #place-page .place-info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
  }
  #place-page .place-info-container .place-description {
    border: none;
  }
}

#place-page .reviews-container {
  padding: 10px 20px;
}

#place-page .reviews-container .leave-review-container {
  margin-bottom: 20px;
}

#place-page .reviews-container .leave-review-container .heading {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}

#place-page .reviews-container .leave-review-container form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
}

#place-page .reviews-container .leave-review-container form textarea {
  width: 100%;
  resize: vertical;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  -webkit-transition: border 200ms ease-in-out;
  transition: border 200ms ease-in-out;
  outline: none;
}

#place-page .reviews-container .leave-review-container form textarea:focus {
  border: 1px solid #FFBA19;
}

#place-page .reviews-container .leave-review-container form input[type="number"] {
  margin-top: 5px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
}

#place-page .reviews-container .leave-review-container form input[type="submit"] {
  width: 200px;
  border: none;
  outline: none;
  background: #ffc233;
  padding: 5px 0;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin-top: 5px;
  align-self: flex-end;
}

@media screen and (max-width: 400px) {
  #place-page .reviews-container .leave-review-container form input[type="submit"] {
    width: 100%;
  }
}

#place-page .reviews-container .leave-review-container form input[type="submit"]:hover {
  background: black;
  color: white;
}

#place-page .reviews-container .reviews .heading {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
}

#place-page .reviews-container .reviews .review {
  display: -webkit-box;
  display: flex;
  margin-bottom: 30px;
}

#place-page .reviews-container .reviews .review .left-review-part .image-container {
  font-size: 0;
  width: 80px;
  height: 80px;
}

#place-page .reviews-container .reviews .review .left-review-part .image-container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#place-page .reviews-container .reviews .review .right-review-part {
  width: calc(100% - 60px);
  box-sizing: border-box;
  padding-left: 20px;
}

#place-page .reviews-container .reviews .review .right-review-part .top-wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

#place-page .reviews-container .reviews .review .right-review-part .top-wrapper .left-part {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

#place-page .reviews-container .reviews .review .right-review-part .top-wrapper .left-part .name {
  font-weight: 900;
  margin-right: 10px;
}

#place-page .reviews-container .reviews .review .right-review-part .top-wrapper .left-part .name a {
  color: black;
}

#place-page .reviews-container .reviews .review .right-review-part .top-wrapper .left-part .rate {
  font-size: 14px;
}

#place-page .reviews-container .reviews .review .right-review-part .top-wrapper .left-part .rate i {
  color: #FFBA19;
}

#place-page .reviews-container .reviews .review .right-review-part .top-wrapper .date {
  font-size: 14px;
  color: gray;
}

#place-page .reviews-container .reviews .review .right-review-part .text {
  width: 100%;
  font-size: 15px;
  text-align: justify;
}

#place-editor {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#place-editor .message {
  border-radius: 10px;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
}

#place-editor .message .small {
  font-size: 14px;
  color: #f9f9f9;
}

#place-editor .done {
  background: #00bd00;
}

#place-editor .error {
  background: #ff3333;
}

#place-editor .main-heading {
  font-size: 26px;
  margin-bottom: 20px;
}

#place-editor .place-info-block form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

#place-editor .place-info-block form .label {
  padding: 0 5px;
  margin-bottom: 5px;
}

#place-editor .place-info-block form input[type="text"] {
  width: 100%;
  border-radius: 3px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#place-editor .place-info-block form input[type="text"]:focus {
  outline: 1px solid gold;
}

#place-editor .place-info-block form select {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border-color: lightgrey;
  text-transform: capitalize;
}

#place-editor .place-info-block form select:focus {
  border: 1px solid gold;
  outline: none;
}

#place-editor .place-info-block form input[type="file"] {
  margin-bottom: 10px;
}

#place-editor .place-info-block form input[type="submit"] {
  text-transform: uppercase;
  border: none;
  background: gold;
  max-width: 200px;
  width: 100%;
  padding: 10px 0;
  align-self: flex-end;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#place-editor .place-info-block form input[type="submit"]:hover {
  background: black;
  color: white;
}

#profile-page .profile-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  padding: 50px 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  #profile-page .profile-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    padding: 20px;
  }
}

#profile-page .profile-wrapper .left-layer {
  min-width: 200px;
  max-width: 250px;
  -webkit-box-flex: 1;
  flex: 1;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  #profile-page .profile-wrapper .left-layer {
    -ms-grid-row-align: center;
    align-self: center;
    padding: 0;
    margin-bottom: 20px;
  }
}

#profile-page .profile-wrapper .left-layer .profile-pic {
  width: 100%;
}

#profile-page .profile-wrapper .left-layer .profile-pic img {
  height: 100%;
  width: 100%;
}

#profile-page .profile-wrapper .right-layer {
  -webkit-box-flex: 3;
  flex: 3;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  #profile-page .profile-wrapper .right-layer {
    padding: 0;
  }
}

#profile-page .profile-wrapper .right-layer .detailed-info > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 20px;
}

#profile-page .profile-wrapper .right-layer .detailed-info .key {
  min-width: 100px;
  color: gray;
}

#profile-page .profile-wrapper .right-layer .detailed-info .subvalue {
  align-self: flex-end;
  margin-left: 10px;
  font-size: 14px;
  color: gray;
}

#profile-page .profile-wrapper .right-layer .detailed-info .name {
  font-size: 20px;
  margin-bottom: 50px;
}

#profile-page .profile-wrapper .right-layer .detailed-info .name .value {
  font-weight: 900;
}

#profile-page .profile-wrapper .right-layer .detailed-info .socials .links {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

#profile-page .profile-wrapper .right-layer .detailed-info .socials .links > div {
  margin-right: 20px;
}

#profile-page .profile-wrapper .right-layer .detailed-info .socials .links > div a {
  color: black;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

#profile-page .profile-wrapper .right-layer .detailed-info .socials .links > div a:hover {
  color: #e5a000;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper {
  margin-top: 50px;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .heading {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .heading {
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 20px;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .left-review-part .image-container {
  font-size: 0;
  height: 100px;
  width: 100px;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .left-review-part .image-container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .right-review-part {
  width: calc(100% - 60px);
  box-sizing: border-box;
  padding-left: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .right-review-part .top-wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .right-review-part .top-wrapper .rate {
  font-size: 14px;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .right-review-part .top-wrapper .rate .place-name {
  font-weight: 900;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .right-review-part .top-wrapper .rate .place-name::before {
  content: 'at ';
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .right-review-part .top-wrapper .rate i {
  color: #FFBA19;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .right-review-part .top-wrapper .date {
  color: gray;
  font-size: 14px;
}

#profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .right-review-part .text {
  width: 100%;
  font-size: 15px;
  text-align: justify;
}

@media screen and (max-width: 350px) {
  #profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
  }
  #profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .left-review-part {
    width: 100%;
  }
  #profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .left-review-part .image-container {
    width: 100%;
    height: 150px;
  }
  #profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .left-review-part .image-container img {
    border-radius: 0;
  }
  #profile-page .profile-wrapper .right-layer .reviews-wrapper .reviews .review .right-review-part {
    width: 100%;
    padding: 10px 0;
  }
}
