// Reset browsers default styles
@import "styles-reset"
// Variables
@import "variables"

.flexbox
	display: flex
	&.flex-col
		flex-direction: column
	&.flex-center
		justify-content: center
		align-items: center

body
	font-family: 'Roboto', sans-serif
	min-height: 100vh
	display: flex
	justify-content: space-between

#header
	z-index: 22
	justify-content: space-between
	padding: 0 40px
	background: $primary-color
	box-shadow: 0px -2px 3px 4px rgba(0,0,0,0.5);
	position: fixed
	top: 0
	left: 0
	width: 100%
	box-sizing: border-box
	@media screen and (max-width: 600px)
		padding: 0 20px
		box-shadow: none
	.logo
		line-height: $header-height
		height: $header-height
		align-items: center
		justify-content: center
		.image-container
			height: 25px
			width: 160px
			font-size: 0
			img
				height: 100%
				width: 100%

	.links
		@media screen and (max-width: 400px)
			display: none
		.link
			line-height: $header-height
			height: $header-height

			padding: 0 20px

			text-transform: uppercase
			font-size: 16px
			color: white
			transition: all 200ms ease-in-out
			&:hover
				background: darken($primary-color, 7%)

	.mobile-menu
		display: none
		position: relative
		width: 100%
		justify-content: flex-end
		@media screen and (max-width: 400px)
			display: flex
		.burger
			color: white
		.dropdown
			display: none
			position: absolute
			top: 100%
			right: 0
			.mob-links
				background: white
				border-radius: 1px
				box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
				.mob-link
					font-size: 18px
					box-sizing: border-box
					padding: 15px 30px
					color: black
					transition: all 200ms ease-in-out
					&:hover
						color: $accent-color

main
	margin-top: $header-height
	width: 100%

#footer
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	font-size: 16px
	background: rgba(black, 0.6)
	color: white
	&.nofix
		position: static
	.autor-info
		flex-flow: row wrap
		align-items: center
		padding-left: 10px
		.autor
			padding: 10px 0
			padding-right: 10px
		.social-links
			padding: 10px 0
			a
				color: white
				transition: all 200ms
				padding: 0 5px 0 0
				&:hover
					color: $accent-color
