@import "variables"

#place-page
	section
		margin-bottom: 40px
	.row
		max-width: 1200px
		margin: 0 auto
	#map
		width: 100%
		height: 500px
		background-color: grey
	.text-with-img
		position: relative
		width: 100%
		height: 400px
		align-items: flex-end
		justify-content: center
		.image-container
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			z-index: -1
			img
				width: 100%
				height: 100%
				object-fit: cover
		.text-wrapper
			background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0))
			width: 100%
			padding-top: 110px
			.text-container
				margin: 0 auto
				color: white
				font-weight: 900
				max-width: 1200px
				box-sizing: border-box
				padding: 0 20px
				font-size: 18px
				.place-name
					font-size: 30px
					line-height: 40px
				.tags
					margin-bottom: 5px
					display: flex
					flex-wrap: wrap
					text-align: center
					.tag
						cursor: pointer
						background: rgba($accent-color, 0.5)
						color: white
						font-size: 14px
						font-weight: normal
						padding: 5px
						margin-right: 5px
						margin-bottom: 5px
						border-radius: 7px
				.place-price
					margin-bottom: 5px
					i
						color: $accent-color
				.place-rating
					margin-bottom: 15px
					i
						color: $accent-color
	.place-info-container
		display: flex
		align-items: center
		width: 100%
		.place-description
			text-align: justify
			padding: 10px 20px
			border-right: 1px solid lighten(black, 80)
		.place-details
			padding: 10px 20px
			min-width: 260px
			display: flex
			flex-flow: column
			justify-content: center
			align-items: center
			font-size: 18px
			text-align: center
			& > div
				display: flex
				align-items: center
				margin-bottom: 10px
			.icon
				width: 40px
				text-align: center
		@media screen and (max-width: 700px)
			flex-flow: column
			.place-description
				border: none
	.reviews-container
		padding: 10px 20px
		.leave-review-container
			margin-bottom: 20px
			.heading
				text-transform: uppercase
				font-size: 20px
				margin-bottom: 10px
			form
				display: flex
				flex-flow: column
				textarea
					width: 100%
					resize: vertical
					border: 1px solid lighten(black, 80)
					border-radius: 3px
					padding: 5px 10px
					box-sizing: border-box
					transition: border 200ms ease-in-out
					outline: none
					&:focus
						border: 1px solid $accent-color
				input[type="submit"]
					width: 200px
					border: none
					outline: none
					background: lighten($accent-color, 5)
					padding: 5px 0
					cursor: pointer
					transition: all 300ms ease-in-out
					margin-top: 5px
					align-self: flex-end
					@media screen and (max-width: 400px)
						width: 100%
					&:hover
						background: black
						color: white
		.reviews
			.heading
				width: 100%
				margin-bottom: 20px
				font-size: 18px
			.review
				display: flex
				margin-bottom: 20px
				.left-review-part
					width: 60px
					.image-container
						font-size: 0
						img
							border-radius: 50%
							width: 100%
							height: 100%
							object-fit: cover
				.right-review-part
					width: calc(100% - 60px)
					box-sizing: border-box
					padding-left: 20px
					display: flex
					flex-wrap: wrap
					.name
						font-weight: 900
						margin-right: 10px
					.rate
						font-size: 14px
						i
							color: $accent-color
					.text
						width: 100%
						font-size: 15px
						text-align: justify





